body{
    background: #DADADA;
}

.background {
    width: 100%;
    background: #DADADA;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    font-size: 14px;
    font: normal 15px "Calibri";
    max-width: 1200px;
}

.left-column{
    width: 68%;
    background: #ffffff;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.right-column{
    width: 30%;
    background: white;
    display: inline-block;
    float: right;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-new-product{
    width: 97%;
    border-top: 1px solid #cdcbcb;
    margin-bottom: 10px;
    margin-top: 0;
}

.row{
    width: 97%;
    border-top: 1px solid #cdcbcb;
}


.add-button{
    background: #559fff;
    color: white;
    font: 22px "Calibri";
    width: 19.4%;
    float: right;
    height: 38px;
    outline: none;
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    border: solid;
    border-width: 0;
    border-color: #4173bb;
    border-bottom-width: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.add-button::after{
    background-color: #803f7b;
    color: white;
    width: 100px;
    height: 20px;
    font: normal 14px "Calibri";
    content: attr(data-tooltip);
    position: absolute;
    visibility: hidden;
    transition: all 200ms ease;
    opacity: 0;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: -85px;
    padding: 5px;
}

.add-button:hover::after{
    opacity: 1;
    visibility: visible;
    transform: translateY(-30px);
}

.name{
    align-items: center;
    text-align: left;
    width: 40%;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
    font: normal 20px "Calibri";
}

.add-buttons{
    width: 40%;
    display: inline-block;
    box-sizing: inherit;
}

.buttons{
    width: 18%;
    display: inline-block;
    box-sizing: inherit;
}

.row{
    padding: 15px;
    vertical-align: middle;
}

.minus{
    color: white;
    background: #c8918e;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #88625b;
    box-sizing: border-box;
    display: inline-block;
}

.minus::after{
    background-color: #803f7b;
    color: white;
    width: 50px;
    height: 20px;
    font: normal 14px "Calibri";
    content: attr(data-tooltip);
    position: absolute;
    visibility: hidden;
    transition: all 200ms ease;
    opacity: 0;
    border-radius: 5px;
    margin-top: -15px;
    margin-left: -32px;
    padding: 5px;
}

.minus:hover::after{
    opacity: 1;
    visibility: visible;
    transform: translateY(-30px);
}

.plus{
    color: white;
    background: #44823d;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #265626;
    box-sizing: border-box;
    display: inline-block;
}

.plus::after{
    background-color: #803f7b;
    color: white;
    width: 50px;
    height: 20px;
    font: normal 14px "Calibri";
    content: attr(data-tooltip);
    position: absolute;
    visibility: hidden;
    transition: all 200ms ease;
    opacity: 0;
    border-radius: 5px;
    margin-top: -15px;
    margin-left: -32px;
    padding: 5px;
}

.plus:hover::after{
    opacity: 1;
    visibility: visible;
    transform: translateY(-30px);
}

.number{
    height: 36px;
    width: 36px;
    background-color: #cdcbcb;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}

.number::after{
    background-color: #803f7b;
    color: white;
    width: 50px;
    height: 20px;
    font: normal 14px "Calibri";
    content: attr(data-tooltip);
    position: absolute;
    visibility: hidden;
    transition: all 200ms ease;
    opacity: 0;
    border-radius: 5px;
    margin-top: -15px;
    margin-left: -32px;
    padding: 5px;
}

.number:hover::after{
    opacity: 1;
    visibility: visible;
    transform: translateY(-30px);
}

.b-bought{
    height: 36px;
    width: 80px;
    outline: none;
    background-color: #cdcbcb;
    border-radius: 5px;
    border: solid;
    border-width: 0;
    border-color: #817f7f;
    border-bottom-width: 3px;
    display: inline-block;

}

.b-remove{
    background-color: #c81004;
    color: white;
    height: 36px;
    width: 36px;
    outline: none;
    border-radius: 5px;
    border: solid;
    border-width: 0;
    border-bottom-width: 3px;
    border-color: #880000;
    display: inline-block;
}

.title{
    font: bold 20px "Calibri";
    padding: 10px;
    border-top: 1px solid #cdcbcb;
    margin-bottom: 10px;
    border-bottom: 1px solid #cdcbcb;
}

.left{
    display: inline-block;
    font: normal 14px "Calibri";
    text-align: center;
    padding: 5px;
    margin: 2px;
    background-color: #cdcbcb;
    border-radius: 5px;

}

.what-left{
    text-align: left;
    display: inline-block;
}

.number-left{
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    color: white;
    background-color: orangered;
    border-radius: 10px;
}

input{
    width: 80%;
    height: 32px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.badge{
    position: fixed;
    width: 150px;
    height: 150px;
    left: 80px;
    bottom: -100px;
    color: white;
    text-align: center;
    font: bold 25px "Calibri";
    background-color: #803f7b;
    padding-top: 15px;
    border-radius: 10px;
    transition: all 100ms ease;
    border-color: #803f7b;
    border-width: 0;
    border: solid;
}

.badge:hover{
    transform: translateY(-60px);
    background-color: slateblue;
    border-color: slateblue;
}

.created-by{
    font: normal 18px "Calibri";
    color: white;
    padding: 20px;
}


@media (max-width: 500px) {
    .left-column{
        width: 100%;
    }

    .right-column{
        width: 100%;
    }
}

@media print {
    .badge{
        background-color: white;
        border-color: #803f7b;
        border-width: 3px;
        color: black;
    }

    .buylist{
        display: none;
        visibility: hidden;
    }

    .created-by{
        padding-top: 0;
        color: black;
    }
}