body {
    background-color: #DADADA;
    padding: 80px 97px 0;
}

.background {
    background-color: #DADADA;
}

.right-column, .left-column {
    background-color: #DADADA;
    padding: 15px;
    display: inline-block;
    box-sizing: border-box;
}

.right-bought {
    width: 30%;
    float: right;
}

.left-column {
    width: 70%;
}

.buy-list, .bought {
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
    border-radius: 5px;
    background-color: white;
}

.buy-list {
    min-width: 450px;
}

.row {
    display: block;
    border-top: 1px solid rgba(34,36,38,.15);
    padding: 7px;
}

.product-name, .count, .buttons {
    display: inline-block;
    box-sizing: border-box;
}

/*
*
*Центральна колонка - стрічка додавання товару
*
*/

#item {
    display: none;
}

.field {
    padding: 12px 15px;
}

.add-row {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 37px;
}

.add-field {
    flex: auto;
    height: 37px;
    box-sizing: border-box;
    padding: 5px 15px;
    font-size: 15px;
    border: 1px solid rgba(34,36,38,.15);
    border-right-color: transparent;
    border-radius: 4px 0 0 4px;

}

.add-field:focus {
    outline: none;
    border: 1px solid #39c;
}

.add-button {
    background-color: #2185D0;
    color: #FFF;
    border: none;
    height: 37px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    box-shadow: 0 -.3em 0 0 rgba(34,36,38,.15) inset;
}

.add-button:hover {
    cursor: pointer;
    background-color: #1678c2;
}


/*
*
*Ліва головнка колонка - права колонка - кнопки "Куплено", "х"(відміна)
*
*/

.buttons {
    width: 40%;
    float: right;
}

.right-buttons {
    float: right;
}

.bought-button, .delete-button {
    font-family: sans-serif;
    font-size: 11px;
    height: 32px;
}

.delete-button {
    width: 32px;

    background-color: #DB2828;
    box-shadow: 0 -.3em 0 0 rgba(34,36,38,.15) inset;
    color: white;

    font-weight: 600;
    font-size: 12px;
    margin-right: 8px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
    outline: none;
}

.bought-button {
    width: 80px;

    font-family: inherit;
    font-weight: 600;

    margin-right: 3px;

    color: rgba(0,0,0,.6);
}

/*
*
*Центральна колонка - назва товару (ліва колонка)
*
*/

.product-name {
    width: 40%;
    float: left;
    padding: 7px;

}

.label {
    margin-left: 2px;
    font-family: sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
}

/*
*
*Центральна колнка - центральні кнопки (декримент, інкримент, каунтер)
*
*/

.count {
    width: 20%;
    text-align: center;
}

/*Каунтер*/
.number {
    background-color: #E8E8E8;
    color: rgba(0,0,0,.6);

    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;

    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-right: 3px;
    margin-left: 3px;

    border-radius: 3px;
}

/*Червона та Зелена кнопки*/

.plus, .minus {
    border-radius: 50%;
    border: none;

    color: white;

    width: 31px;
    height: 31px;

    font-size: 18px;
    font-weight: 500;

    cursor: pointer;
    outline: none;
}

.plus {
    background-color: #21BA45;
    box-shadow: 0 -.2em 0 0 rgba(34,36,38,.15) inset;
}



.minus {
    background-color: #db2828;
    box-shadow: 0 -.2em 0 0 rgba(34,36,38,.15) inset;
}

/*
*
*Права колонка - інформація "Залишелося", "Куплено"
*
*/

.bought {
    min-width: 180px;
}

.title {
    border-top: 1px solid rgba(34,36,38,.15);
    padding: 0 15px;
}

.right-column {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top: 1px solid rgba(34,36,38,.15);
    padding: 10px 10px;
}

.bought-last, .bought-bought {
    display: inline;
    background-color: rgba(232, 232, 232, 1);
    padding: 6px 6px;
    margin: 2px 2px;
    border-radius: 3px;

    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
    font-weight: 700;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.bought-bought {
    text-decoration: line-through;
}

#last {
    display: none;
}
/*
*
* Права колонка - каунтери товарів на складі/куплених
*
*/

.bought-item-count, .last-item-count {
    background-color: rgba(242, 113, 28, 1);
    padding: 3px 6px;
    border-radius: 50%;
    color: rgba(255, 255, 255, .80);
}

.bought-item-count {
    text-decoration: line-through;
}

#bought-pattern {
    display: none;
}

@media (max-width: 500px) {

    .right-column, .left-column {
        width: 100%;
    }

}


/*Бейджик*/
.badge {
    position: fixed;
    bottom: -80px;
    left: 90px;

    width: 125px;
    height: 85px;
    border-radius: 6px 6px 0 0;

    background-color: blueviolet;
    color: white;
    text-align: center;
    font-family: sans-serif;

    padding: 10px 20px 25px 20px;

    transition: bottom 1s ease, background-color 1s ease;
}

.badge:hover {
    bottom: 0px;
    background-color: blue;
}

.badge-preview {
    font-weight: 600;
    font-size: 21px;
    text-align: center;
}

.badge-content {
    padding-top: 27px;
}

.badge-content-name {
    padding-top: 7px;
    font-weight: 600;
    font-size: 16px;
}

/*Для печаті*/
@media print {
    .badge {
        bottom: 0;
        background-color: white;
        color: black;
        border: 1px solid;

        height: auto;
        padding: 0 10px;
    }

    .badge-preview {
        display: none;
    }

    .badge-content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/*Підказки*/

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

button::after {
    content: attr(data-tooltip);
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 999;
    width: 230px;
    margin-left: -127px;
    padding: 10px;
    opacity: 0;
    background-color: blueviolet;
    color: #FFF;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.45s ease-out 0.55s;
}

button:hover::after {
    visibility: visible;
    bottom: 30px;
    opacity: 0.9;

}